<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	xmlns=> You need the main bean namespace since you are using XML to 
	define your bean definitions 
	
	xmlns:context=> You need the context namespace 
	if you are using it to define <context:annotation-config /> 
	
	xmlns:xsi=> 
	Declares a standard namespace prefix (xsi) for a core namespace used in XSD 
	
	xsi:schemaLocation=> Provide hints to the XML processor as to how to associate 
	an XSD with an XML document 
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Activating Annotation Configuration by telling spring to scan given package to and create bean of for classes in that package and sub packages-->
	<context:component-scan base-package="com.university.pune"></context:component-scan>

</beans>